/*FAVEO AGORA INVOICING STYLES*/

.helpdesk-products {
    display: flex;
    flex-wrap: wrap;
    /*gap: 20px;*/
}

.helpdesk-product {
    border: 1px solid #ccc;
    padding: 20px;
    /*width: 300px;*/
}

.helpdesk-product img {
    max-width: 100%;
    height: auto;
}

/* PRICING product-style-1*/
.packagess {
  padding-bottom: 1.5em;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /*text-align: center;*/
  flex-wrap: wrap;
  color: #000;
	font-family:Open Sans,Arial,Helvetica,sans-serif;
}
.containerr {
  width: 100%;
}


.product-pricing >h1{
   font-size: 22px !important;
   font-weight: 700 !important;
   line-height: 1.2 !important;
   color:#141617 !important;
   height:70px !important;
   margin-top:25px;
}
.product-pricing >h2{
	font-size: 42px !important;
    font-weight: 500 !important;
    margin-top:0px;
    height:65px !important;
    color:#141617 !important;
}
.packagess >h3{
	color:#fff;
	margin-top:-10px
}
.original-price{
    margin-top: -20px;
    height:30px;
    
    font-size: 18px;
    font-weight: 400;
    color: #959595;
    opacity: 0.6;
    text-decoration: line-through;
}

.short-description{
    font-size: 16px;
    color: #959595;
    line-height: 25px;
    height: 80px !important;
}

.price-description{
	margin-top:-10px !important;
	/*height:50px;*/
	font-style:italic;
	font-weight:600;
	font-size:15px !important;
}
.description{
    width: 100%;
}

.description ul{
    /*list-style-image: url('../assets/images/checkicon-new.png');*/
    list-style:none;
    text-align:left;
    margin-top:20px;
    padding:10px 10px;
}
.description li{
    font-size: 14px !important;
    padding-inline-start: 0;
    padding-bottom: 10px !important;
	color:#777777;
	margin-top:12px;
	border-bottom: 1px solid #f0f0f0;
    cursor: default;
}

.product-container{
    position: relative;
    margin: 25px 3px;
    /*box-shadow: 3px 4px 5px 2px #c7c7c7;*/
    padding: 20px 16px 20px 16px;
     flex: 1 1 calc(33.333% - 20px); /* 3 per row by default */
  max-width: 310px; /* prevent cards from being too wide */
  min-width: 180px; /* prevent cards from shrinking too much */
}

.products-wrapper{
    display: flex;
  flex-wrap: wrap;
  justify-content: center; /* keeps products centered */
  gap: 0px; /* spacing between cards */
margin-top: 20px;
    
}
.product-pricing{
    /*height:250px;*/
    background:transparent !important;
   width: fit-content;
}

/* Toggle Switch Styles */
.toggle-wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    width: 200px; /* Adjust the width as needed */
}

.toggle-labels {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.toggle-label {
    font-size: 16px;
    color: #333;
}

/* Toggle Switch Styles */
.toggle-switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 30px;
}

.toggle-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 30px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 22px;
    width: 22px;
    border-radius: 50%;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:checked + .slider:before {
    transform: translateX(30px);
}


/*Product's Styles-  needs to be removed after recieving the colors from billing*/
.purchase-btn{
    color: #fff;
    border: 2px solid transparent;
    padding: 4px 20px;
    border-radius: 4px;
    display: inline-block;
    text-align: center;
    font-weight: 600;
    transition: all 0.3s ease;
    font-size: 15px;
    width: -webkit-fill-available;
} 
.purchase-btn:hover {
  /*filter: brightness(1.1);*/
background-color:#000 !important;
  color: #fff;
}

.product-styles-default {
     border-top: 6px solid #3f3f3f;
    border-left: 2px solid #3f3f3f;
    border-right: 2px solid #3f3f3f;
    border-bottom: 2px solid #3f3f3f;
    border-radius:4px;
}
.product-styles-default .purchase-btn{
    background-color: #3f3f3f;
}

.product-styles-group1 {
    border-top: 6px solid #06a4e3de;
    border-left: 2px solid #06a4e3de;
    border-right: 2px solid #06a4e3de;
    border-bottom: 2px solid #06a4e3de;
    border-radius:4px;
}
.product-styles-group1 .purchase-btn{
       background-color: #06a4e3de;
}

.product-styles-group2 {
    border-left: 2px solid #1C9B99;
    border-top: 6px solid #1C9B99;
    border-right: 2px solid #1C9B99;
    border-bottom: 2px solid #1C9B99;
    border-radius:4px;
}
.product-styles-group2 .purchase-btn{
       background-color: #1C9B99;
}

.product-styles-group3 {
    border-left: 2px solid #404d98c9;
    border-top: 6px solid #404d98c9;
    border-right: 2px solid #404d98c9;
    border-bottom: 2px solid #404d98c9;
    border-radius:4px;
}
.product-styles-group3 .purchase-btn{
       background-color: #404d98c9;
}

.product-styles-group4 {
    border-left: 2px solid #d46307c9;
    border-top: 6px solid #d46307c9;
    border-right: 2px solid #d46307c9;
    border-bottom: 2px solid #d46307c9;
    border-radius:4px;
}
.product-styles-group4 .purchase-btn{
       background-color: #d46307c9;
}

.product-styles-group5 {
   border-left: 2px solid #1572c3;
    border-top: 6px solid #1572c3;
    border-right: 2px solid #1572c3;
    border-bottom: 2px solid #1572c3;
    border-radius:4px;
}
.product-styles-group5 .purchase-btn{
       background-color: #1572c3;
}

/* Highlighted card less margin */
.highlighted-product-container {
    margin-top: 0px !important;
    box-shadow:1px 2px 5px 3px #c1c1c1;
}

.popular-ribbon {
   --f: 5px;
   --r: 15px;
   --t: 8px;

   position: absolute;
   top: var(--t);
   right: -7px; /* stick to the right edge */
   height: 37px;

   padding: 3px 10px var(--f) calc(10px + var(--r));
   clip-path: polygon(
     0 0, 
     100% 0, 
     100% calc(100% - var(--f)), 
     calc(100% - var(--f)) 100%, 
     calc(100% - var(--f)) calc(100% - var(--f)), 
     0 calc(100% - var(--f)), 
     var(--r) calc(50% - var(--f) / 2)
   );

   background: #0084e4;
   box-shadow: 0 calc(-1* var(--f)) 0 inset #0005;
   color: #ffffff;
   font-size: 14px;
   font-weight: 500;
   line-height: 30px;
   z-index: 10;
}
/*Product's styles-  needs to be removed after recieving the colors from billing*/



@media screen and (max-width: 480px) {
 .products-wrapper {
     display: block !important; 
     margin-left: 0 !important;
}
}


.tooltip-text-hover {
    position: relative;
    display: inline-block;
    overflow: visible; /* make sure the tooltip can show outside */
    text-decoration: underline dotted #aaa;
}

.tooltip-text-hover .tooltip-text {
    visibility: hidden;
    opacity: 0;
    background: #333;
    color: #fff;
    padding: 4px 7px;
    border-radius: 3px;
    white-space: normal;   /* allow wrapping */
    min-width: 200px;      /* control tooltip width */
    position: absolute;
    top: 100% !important;  /* tooltip box below element */
    left: 50%;
    transform: translateX(-40%);
    transition: opacity 0.4s;
    z-index: 10000;        /* ensure above other elements */
    font-size:12px !important;
   
}

/* The little arrow */
.tooltip-text-hover .tooltip-text::after {
  content: "";
    position: absolute;
    bottom: 100%; /* Position the arrow at the top of the tooltip box */
    left: 30%;
    transform: translateX(-50%);
    border-width: 6px;
    border-style: solid;
    border-color: transparent transparent #333 transparent; /* normal triangle pointing down */
}

.tooltip-text-hover:hover .tooltip-text {
    visibility: visible !important;
    opacity: 1 !important;
}


.products-wrapper.scrollable {
    /*max-height: 600px;*/
    overflow-x: scroll;
}

/* If only 4 products in a group → fit 4 per row */
.products-wrapper[data-count="4"] .product-container {
  flex: 1 1 calc(25% - 20px);
}

/* If only 5 products in a group → fit 5 per row */
.products-wrapper[data-count="5"] .product-container {
  flex: 1 1 calc(18% - 20px);
}

/* Responsive adjustments */
@media (max-width: 1024px) {
  .products-wrapper .product-container {
    flex: 1 1 calc(50% - 20px); /* 2 per row */
  }
}

@media (max-width: 600px) {
  .products-wrapper .product-container {
    flex: 1 1 100%; /* full width on mobile */
  }
}