.helpdesk-products {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.helpdesk-product {
    border: 1px solid #ccc;
    padding: 20px;
    width: 300px;
}

.helpdesk-product img {
    max-width: 100%;
    height: auto;
}

.helpdesk-product .button {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #0073aa;
    color: #fff;
    text-decoration: none;
}

.helpdesk-product .button:hover {
    background-color: #005177;
}
.description ul{
    list-style: none !important;
}
.description li{
    font-size: 14px;
  list-style: none;
  border-bottom: 1px solid #f0f0f0;
  padding-inline-start: 0;
  border-width: 1px;
  padding: 8px;
	color:#777777;
	margin-left:-9px;
}

/* PRICING */
.packagess {
  margin: 10px;
  width: 230px;
  padding-bottom: 1.5em;
  height: 100%;
/* 	background: linear-gradient(180deg,#47b0e1 2.8rem, 
              #089bd1 2.8rem, #36a5d9 2.8rem, 
              #499abf 10rem, white 10rem, white 100%); */
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
	border:1px solid lightgray;
  flex-wrap: wrap;
  color: #000;
	font-family:Open Sans,Arial,Helvetica,sans-serif;
	border-radius:4px;
}
.containerr {
  width: 100%;
}

.packagess >h1{
	margin: 15px 10px 10px;
	font-size:14px;
	color:#fff;
	font-weight: 700;
}
.packagess >h2{
	font-size:26px;
		color:#fff;
	font-weight: 600;
	margin-top:20px
}
.packagess >h3{
	color:#fff;
	margin-top:-10px
}



/* PRODUCT PRICING */
.product-pricing{
height: 190px !important;
width:230px !important;
background: #36a5d9 !important;
}
.product-pricing >h1{
	padding: 20px 10px 10px !important;
/* 	width:250px; */
	font-size:14px !important;
	color:#fff !important;
	font-weight: 700 !important;
/* 	border-bottom:1px solid gray !important; */
	background: #47b0e1;
	height:30px;
/* 	padding-bottom:10px; */
/* 	vertical-align:center; */
/* 	padding-top:20px !important; */
	text-transform:uppercase !important;
}
.product-pricing >h2{
	font-size:26px !important;
		color:#fff !important;
	font-weight: 600 !important;
	margin-top:10px !important;
}
.strikeeprice{
	opacity:0.6 !important;
	margin-top:-20px !important;
	padding-bottom:0 !important;
	color:#ffffff;
}
.price_descriptionn{
	margin-top:-10px !important;
	color:#ffffff;
}

